* {
  box-sizing: border-box;
  background-size: cover;
  padding: 0;
  margin: 0;
  /* font-family: "Philosopher", sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Montserrat", sans-serif;
}
/* color table */
:root {
  --background-sidebar: #494949;
  --background-sidebar-f: #000000;
  --background-sidebar-two: #212121;
  --word-color1: white;
  --word-color2: black;
  --word-color3: #d84315;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.form-control.searchBox {
  display: flex;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.form-control.searchBox .searchType {
  border: none;
  width: 90%;
}
.navbar.navbar-expand-lg.navbar-light{
  position: absolute;
  padding-right: 50px;
  border-top-right-radius:20px ;
  z-index: 99;
}
/* loại bỏ outline khi chọn nhập input */
input.searchType:focus {
  outline-width: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* section1 */
.header {
  padding: 0;
}
.bg-color-cus {
  background-color: #7386d5;
  position: relative;

}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: var(--background-sidebar);
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--background-sidebar-two);
}

/* #sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
} */

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: var(--background-sidebar-f);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: var(--background-sidebar-two);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
